.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

body {
  font-family: Helvetica;
  font-size: 40px;
  text-align: center;
  padding: 70px;
  background-color: #7AB9FF;
}